<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Detalles de la encuesta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body class="bg-light">
	<div class="container mt-5">
        <h1 class="text-center text-primary mb-4" th:text="${survey.title}"></h1>

        <div class="card shadow p-4">
            <form th:action="@{/submitVote/{id}(id=${survey.id})}" method="post">
                <ul class="list-group">
                    <li th:each="question : ${survey.questions}" class="list-group-item">
                        <p class="fw-bold mb-2" th:text="${question.questionText}"></p>
                        <ul class="list-unstyled">
                            <li th:each="option : ${question.options}" class="form-check">
                                <input class="form-check-input" type="radio"
                                    th:id="${option.id}" th:name="voteId" th:value="${option.id}" />
                                <label class="form-check-label ms-2" th:for="${option.id}" th:text="${option.optionText}"></label>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Votar</button>
                </div>
            </form>
        </div>
    </div>
	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	

</body>
</html>